@media (max-width: 1355px) {
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 300px;
  }

  .links ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .links .tryBtn button {
    padding: 16px 24px;
    border-radius: 70px;
    border: none;
    background: #3461ff;

    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .btn_learnMore button {
    padding: 16px 48px;
    border-radius: 69px;
    background: #3461ff;
    margin-top: 30px;
    border: none;

    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
  }
}

@media (max-width: 1275px) {
  header .rightBox img {
    width: 120%;
  }

  .label h1 {
    color: #000;
    font-size: 76px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .circle {
    border-radius: 352px;
    background: #e0ff22;
    padding: 99px 0;
    width: calc(100% / 3);
    text-align: center;

    font-size: 50px;
  }

  .circle i {
    color: #3461ff;
    font-size: 80px;
  }

  .box .title h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 139px;
  }
}

@media (max-width: 1197px) {
  .label h1 {
    color: #000;
    font-size: 56px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 200px;
  }

  .links ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .links .tryBtn button {
    padding: 16px 24px;
    border-radius: 70px;
    border: none;
    background: #3461ff;

    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .rightText p {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  .meet .rightText .title h1 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .meet .rightText .title p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 22px;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: capitalize;
  }

  .circle {
    border-radius: 352px;
    background: #e0ff22;
    padding: 85px 0;
    width: calc(100% / 3);
    text-align: center;

    font-size: 50px;
  }

  .companies .title h3 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    width: 23%;
  }

  .companies .title p {
    color: #252525;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    width: 32%;
  }

  .rightHelp h1 {
    font-size: 17px;
  }

  .howHelp .title h1 {
    font-size: 30px;
  }

  .howHelp .title p {
    font-size: 17px;
  }

  .talk input {
    padding: 12px 15px;
    width: 50%;
    border: none;
  }
}

@media (max-width: 1151px) {
  header {
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftBox {
    width: 100%;
    text-align: center;
  }

  .paragraph {
    display: flex;
    justify-content: center;
  }

  .talk {
    display: flex;
    justify-content: center;
  }

  .commit .rightBox {
    width: 100%;
  }

  .companies .title {
    justify-content: space-around;
    text-align: center;
  }

  .comCards {
    display: flex;
    justify-content: space-around;
  }

  .topCards,
  .bottomCards {
    flex-direction: column;
    gap: 50px;
  }

  .commit {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
  }

  .commit .leftBox {
    width: 50%;
  }

  .howWorks {
    flex-direction: column;
    text-align: center;
  }

  .leftSide h2 {
    font-size: 40px;
  }

  .meet {
    flex-direction: column-reverse;
    align-items: center;
  }

  .journey .box {
    flex-direction: column;
    gap: 100px;
  }

  .journey .box .title {
    display: flex;
    flex-direction: column;
  }
  .circle {
    padding: 95px 0;
    width: 40%;
    text-align: center;
    font-size: 50px;
    background: none;
  }

  .help {
    flex-direction: column;
  }

  .rightHelp {
    width: 100%;
  }

  .rightHelp h1 {
    font-size: 30px;
  }

  .helpP {
    font-size: 20px;
  }

  .topFooter {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .leftFooter {
    display: flex;
    align-items: center;
    gap: 200px;
  }

  .net_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightFooter ul {
    align-items: start;
  }
}

@media (max-width: 1011px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  nav .links {
    background-color: rgba(104, 104, 104, 0.776);
    height: 100vh;
    width: 50%;
    left: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.5s;
  }

  nav .links.active {
    left: calc(100% - 50%);
  }

  nav .links ul {
    display: flex;
    flex-direction: column;
  }

  nav .links li a {
    font-size: 25px;
    color: #e0ff22;
  }

  nav .links .tryBtn button {
    padding: 20px 60px;
  }

  .hamburgerMenu {
    display: block;
    z-index: 99999;
  }

  .hamburgerMenu i {
    transition: 0.4s;
    color: #3461ff;
    font-size: 30px;
    position: fixed;
    right: 40px;
  }

  nav .links.active ~ .hamburgerMenu i {
    right: 20px;
    color: white;
  }

  .about .cards {
    flex-direction: column;
    align-items: center;
  }

  .about .cards .card {
    width: 70%;
  }

  .gray {
    width: 70%;
  }

  .cardgray {
    position: static;
    width: 70%;
  }

  .title_btn .btns {
    display: none;
  }

  .title_btn {
    text-align: center;
    justify-content: center;
  }

  .leftPhotos .top,
  .leftPhotos .bottom {
    flex-direction: column;
  }

  .leftPhotos {
    flex-direction: row;
    gap: 150px;
  }

  .commit .leftBox .cards {
    grid-template-columns: repeat(2, calc(100% / 2));
    transform: translate(-50px);
    gap: 42px 100px;
  }
}

@media (max-width: 989px) {
  .leftText h1 {
    font-size: 20px;
  }

  .circle {
    display: none;
  }

  .rightText p {
    font-size: 13px;
  }
}

@media (max-width: 761px) {
  .helpP {
    font-size: 15px;
  }
  .circle {
    display: none;
  }
  .rightHelp h1 {
    font-size: 20px;
  }
  .leftPhotos {
    gap: 100px;
  }

  .contactus button {
    font-size: 15px;
  }

  .workCards {
    flex-direction: column;
  }

  .otherLink {
    gap: 0;
  }

  .about .cards .card {
    width: 100%;
  }

  .gray {
    width: 100%;
  }

  .cardgray {
    width: 100%;
  }
  .help {
    padding: 90px 50px;
  }

  .leftFooter {
    gap: 50px;
  }

  footer {
    padding: 62px 50px;
  }

  .commit .leftBox .cards .card h2 {
    font-size: 50px;
  }

  .commit {
    padding: 103px 60px;
  }
  .ourWork p {
    width: 100%;
  }

  .companies .title {
    flex-direction: column;
  }

  .companies .title p,
  .companies .title h3 {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .leftPhotos {
    flex-direction: column;
    gap: 20px;
  }

  .box .title h1 {
    font-size: 25px;
  }

  .journey .box {
    padding: 65px 30px;
  }

  .about {
    padding: 68px 60px;
  }

  .ourWork {
    padding: 79px 60px;
  }

  .howWorks {
    padding: 86px 60px;
  }

  .companies {
    padding: 46px 60px;
  }
  .journey {
    padding: 87px 60px;
  }

  .meet {
    padding: 119px 60px;
  }

  .startJourney {
    padding: 66px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .helpP{
    font-size: 13px;
  }
}

@media (max-width: 510px) {
  nav .links li a {
    font-size: 14px;
    color: #e0ff22;
  }

  nav .links {
    padding: 50px 20px;
  }

  nav .links .tryBtn button {
    padding: 20px;
  }

  .more button {
    font-size: 15px;
  }
}

@media (max-width: 461px) {
  .logo_name{
    justify-content: center;
  }

  .comCards {
    flex-direction: column;
    align-items: center;
  }
  .topCards,
  .bottomCards {
    align-items: center;
  }

  .bottomCards {
    margin-top: 40px;
  }

  .rightHelp h1 {
    font-size: 14px;
  }

  .textBtn button {
    width: 25px;
    height: 25px;
  }

  .commit .leftBox .cards {
    grid-template-columns: repeat(1, 100%);
    transform: translate(0);
    gap: 42px 50px;
  }

  .otherLink {
    flex-direction: column;
    gap: 10px;
  }

  .bottomFooter {
    padding: 50px 60px;
  }

  .topFooter {
    margin-bottom: 50px;
  }

  .photoName .name h3,
  .photoName .name p,
  .rating p {
    font-size: 15px;
  }

  .cardgray,
  .gray,
  .about .cards .card {
    padding: 32px;
  }

  .leftFooter,
  .rightFooter {
    flex-direction: column;
  }

  .label h1,
  .commit .rightBox h2,
  .leftSide h2 {
    font-size: 30px;
  }
  .paragraph p,
  .commit .rightBox p,
  .leftSide p {
    font-size: 14px;
  }

  .talk input {
    width: 100%;
    padding: 20px;
    font-size: 20px;
  }
  .talk {
    display: flex;
    flex-direction: column;
  }

  .rightSide .cards {
    display: flex;
    flex-direction: column;
  }

  nav {
    padding: 20px;
  }

  .helpP {
    font-size: 12px;
  }


}
